<main class="p-5">
    <h1>Hello <i class="bi bi-emoji-laughing"></i></h1>
    <img width="100px" src="/svg/icon.svg">
    <br>
    <br>

    <div>
        <i class="fa-solid fa-camera-retro fa-2xl"></i>    
    </div>
</main>