<main>
    <h1 class="text-uppercase">Hello world</h1>
    <h2 class="text-end">Hi</h2>
    <h3>Brrrr</h3>

    <hr>    

    <div class="display-1 text-center">Hello world</div>
    <div class="display-2">Hi</div>
    <div class="display-6 text-muted">Brrr</div>

    <hr>

    <span class="text-muted">Its me</span>

    <hr>

    <a class="btn btn-link" href="https://classroom.google.com/">
        <span class="text-uppercase">Button primary</span>
    </a>

    <hr>

    <span class="text-primary">My name</span>
    <span class="text-secondary">My lastname</span>
    <span class="text-danger">My Eng</span>

    <hr>

    <button class="btn btn-outline-primary">My button</button>
    <button class="btn btn-outline-danger">Delete</button>

    <hr>

    <div class="card">
        <div class="card-body">
            Hi! My name is Illia
        </div>
    </div>
</main>